@import "font-awesome/font-awesome";
@import "config/ress.min.css";

// Global
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;

button {
    border: none;
    background: none;
}

// Nav
#nav {
    display: flex;

    button {
        width: 40px;
        height: 40px;
    }

    button:hover  {
        color: rgb(150, 180, 210)
    }
}
