@import "font-awesome/font-awesome";
@import "config/ress.min.css";
@import "config/colors";

// Global
// font-family: 'Roboto', sans-serif;
// font-family: 'Roboto Slab', serif;
* {
    font-family: 'Roboto', sans-serif;
}

*:focus {
    outline: none;
}

.hidden { display: none }


// Nav
#nav {
    display: flex;
    justify-content: space-between;

    button {
        width: 40px;
        height: 40px;

        &:hover {
            color: @peterriver;
        }

    }

    h1 {
        padding: 0 20px;
        height: 40px;
        line-height: 40px;
        flex-grow: 100;

        text-align: center;
        font-size: 2ex;
        font-weight: bold;
    }

    h1.pending { color: @silver }
    h1.succeed { color: black }
    h1.failed { color: @pomegranate }
    h1:hover {
        cursor: pointer;
        color: @silver;
    }

    form {
        height: 40px;
        line-height: 40px;
        margin: 0 20px;
        flex-grow: 100;
    }
    input {
        height: 40px;
        line-height: 40px;
        width: 100%;

        font-size: 2ex;
        text-align: center;
        font-weight: bold;

        &::selection {
            background: @belizehole;
            color: white;
        }
    }
}

article {
    padding: 20px;
}

h2, h3, h4, h5, h6 {
    color: @asbestos;
    margin: 40px 0 20px 0;
}

li {
    margin-left: 20px;
}

a {
    &:link, &:visited {
        color: @belizehole;
        text-decoration: none;
    }

    &:hover {
        color: @peterriver;
    }
}
